body {
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADINGS */

.header--main {
    font-weight: normal;
    color: white;
    font-size: 50px;
}

.header--secondary {
    font-size: 42px;
    color: white;
    font-weight: 300;
}

.header--subheader {
    font-size: 21px;
    color: gray;
}

/* LINKS */

.link--cta {
    font-size: 16px;
    font-weight: bold;
    color: aquamarine;
    padding-top: 30px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: flex-end;
}

.footer-copyright {
    font-size: 21px;
    color: gray;
}

.fa-lg {
    line-height: 3.2em;
    margin-right: 0.2em;
    color: gray;
}